<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>15/16</key>
	<dict>
		<key>name</key>
		<string>16/17</string>
		<key>salaryCap</key>
		<integer>100000</integer>
		<key>allowance</key>
		<integer>1100</integer>
		<key>tax</key>
		<dict>
			<key>zero</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<integer>0</integer>
				<key>threshold</key>
				<integer>0</integer>
			</dict>
			<key>basic</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.2</real>
				<key>threshold</key>
				<integer>32000</integer>
			</dict>
			<key>middle</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.4</real>
				<key>threshold</key>
				<integer>150000</integer>
			</dict>
			<key>upper</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.45</real>
				<key>threshold</key>
				<integer>9223372036854775807</integer>
			</dict>
		</dict>
	</dict>
	<key>16/17</key>
	<dict>
		<key>name</key>
		<string>16/17</string>
		<key>salaryCap</key>
		<integer>100000</integer>
		<key>allowance</key>
		<integer>1100</integer>
		<key>tax</key>
		<dict>
			<key>zero</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<integer>0</integer>
				<key>threshold</key>
				<integer>0</integer>
			</dict>
			<key>basic</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.2</real>
				<key>threshold</key>
				<integer>32000</integer>
			</dict>
			<key>middle</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.4</real>
				<key>threshold</key>
				<integer>150000</integer>
			</dict>
			<key>upper</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.45</real>
				<key>threshold</key>
				<integer>9223372036854775807</integer>
			</dict>
		</dict>
		<key>ni</key>
		<dict>
			<key>none</key>
			<dict>
				<key>name</key>
				<string>None</string>
				<key>lower</key>
				<dict>
					<key>threshold</key>
					<integer>0</integer>
					<key>rate</key>
					<integer>0</integer>
				</dict>
				<key>upper</key>
				<dict>
					<key>threshold</key>
					<integer>0</integer>
					<key>rate</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>a</key>
			<dict>
				<key>name</key>
				<string>A</string>
				<key>lower</key>
				<dict>
					<key>threshold</key>
					<integer>155</integer>
					<key>rate</key>
					<real>0.12</real>
				</dict>
				<key>upper</key>
				<dict>
					<key>threshold</key>
					<integer>827</integer>
					<key>rate</key>
					<real>0.02</real>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>17/18</key>
	<dict>
		<key>name</key>
		<string>17/18</string>
		<key>salaryCap</key>
		<integer>100000</integer>
		<key>allowance</key>
		<real>1150</real>
		<key>tax</key>
		<dict>
			<key>zero</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<integer>0</integer>
				<key>threshold</key>
				<integer>0</integer>
			</dict>
			<key>basic</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.2</real>
				<key>threshold</key>
				<real>33500</real>
			</dict>
			<key>middle</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.4</real>
				<key>threshold</key>
				<integer>150000</integer>
			</dict>
			<key>upper</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.45</real>
				<key>threshold</key>
				<integer>9223372036854775807</integer>
			</dict>
		</dict>
		<key>ni</key>
		<dict>
			<key>none</key>
			<dict>
				<key>name</key>
				<string>None</string>
				<key>lower</key>
				<dict>
					<key>threshold</key>
					<integer>0</integer>
					<key>rate</key>
					<integer>0</integer>
				</dict>
				<key>upper</key>
				<dict>
					<key>threshold</key>
					<integer>0</integer>
					<key>rate</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>a</key>
			<dict>
				<key>name</key>
				<string>A</string>
				<key>lower</key>
				<dict>
					<key>threshold</key>
					<integer>157</integer>
					<key>rate</key>
					<real>0.12</real>
				</dict>
				<key>upper</key>
				<dict>
					<key>threshold</key>
					<integer>866</integer>
					<key>rate</key>
					<real>0.02</real>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>18/19</key>
	<dict>
		<key>name</key>
		<string>17/18</string>
		<key>salaryCap</key>
		<integer>100000</integer>
		<key>allowance</key>
		<real>1185</real>
		<key>tax</key>
		<dict>
			<key>zero</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<integer>0</integer>
				<key>threshold</key>
				<integer>0</integer>
			</dict>
			<key>basic</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.2</real>
				<key>threshold</key>
				<real>34500</real>
			</dict>
			<key>middle</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.4</real>
				<key>threshold</key>
				<integer>150000</integer>
			</dict>
			<key>upper</key>
			<dict>
				<key>name</key>
				<string>Zero</string>
				<key>rate</key>
				<real>0.45</real>
				<key>threshold</key>
				<integer>9223372036854775807</integer>
			</dict>
		</dict>
		<key>ni</key>
		<dict>
			<key>none</key>
			<dict>
				<key>name</key>
				<string>None</string>
				<key>lower</key>
				<dict>
					<key>threshold</key>
					<integer>0</integer>
					<key>rate</key>
					<integer>0</integer>
				</dict>
				<key>upper</key>
				<dict>
					<key>threshold</key>
					<integer>0</integer>
					<key>rate</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>a</key>
			<dict>
				<key>name</key>
				<string>A</string>
				<key>lower</key>
				<dict>
					<key>threshold</key>
					<integer>162</integer>
					<key>rate</key>
					<real>0.12</real>
				</dict>
				<key>upper</key>
				<dict>
					<key>threshold</key>
					<integer>892</integer>
					<key>rate</key>
					<real>0.02</real>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
