<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>y1819</string>
		<key>salaryCap</key>
		<integer>100000</integer>
		<key>allowance</key>
		<integer>1185</integer>
		<key>taxLevels</key>
		<array>
			<dict>
				<key>taxBracket</key>
				<string>zero</string>
				<key>rate</key>
				<integer>0</integer>
				<key>threshold</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>taxBracket</key>
				<string>basic</string>
				<key>rate</key>
				<real>0.2</real>
				<key>threshold</key>
				<integer>34500</integer>
			</dict>
			<dict>
				<key>taxBracket</key>
				<string>middle</string>
				<key>rate</key>
				<real>0.4</real>
				<key>threshold</key>
				<integer>150000</integer>
			</dict>
			<dict>
				<key>taxBracket</key>
				<string>upper</string>
				<key>rate</key>
				<real>0.45</real>
				<key>threshold</key>
				<integer>9223372036854775807</integer>
			</dict>
		</array>
		<key>niLevels</key>
		<array>
			<dict>
				<key>code</key>
				<string>none</string>
				<key>levels</key>
				<array>
					<dict>
						<key>level</key>
						<string>lower</string>
						<key>rate</key>
						<integer>0</integer>
						<key>threshold</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>level</key>
						<string>upper</string>
						<key>rate</key>
						<integer>0</integer>
						<key>threshold</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>code</key>
				<string>a</string>
				<key>levels</key>
				<array>
					<dict>
						<key>level</key>
						<string>lower</string>
						<key>rate</key>
						<real>0.12</real>
						<key>threshold</key>
						<integer>8424</integer>
					</dict>
					<dict>
						<key>level</key>
						<string>upper</string>
						<key>rate</key>
						<real>0.02</real>
						<key>threshold</key>
						<integer>46350</integer>
					</dict>
				</array>
			</dict>
		</array>
		<key>studentLoanLevels</key>
		<array>
			<dict>
				<key>name</key>
				<string>none</string>
				<key>rate</key>
				<integer>0</integer>
				<key>threshold</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>plan1</string>
				<key>rate</key>
				<real>0.09</real>
				<key>threshold</key>
				<integer>18330</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>plan2</string>
				<key>rate</key>
				<real>0.09</real>
				<key>threshold</key>
				<integer>21000</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>y1920</string>
		<key>salaryCap</key>
		<integer>100000</integer>
		<key>allowance</key>
		<integer>1250</integer>
		<key>taxLevels</key>
		<array>
			<dict>
				<key>taxBracket</key>
				<string>zero</string>
				<key>rate</key>
				<integer>0</integer>
				<key>threshold</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>taxBracket</key>
				<string>basic</string>
				<key>rate</key>
				<real>0.2</real>
				<key>threshold</key>
				<integer>37500</integer>
			</dict>
			<dict>
				<key>taxBracket</key>
				<string>middle</string>
				<key>rate</key>
				<real>0.4</real>
				<key>threshold</key>
				<integer>150000</integer>
			</dict>
			<dict>
				<key>taxBracket</key>
				<string>upper</string>
				<key>rate</key>
				<real>0.45</real>
				<key>threshold</key>
				<integer>9223372036854775807</integer>
			</dict>
		</array>
		<key>niLevels</key>
		<array>
			<dict>
				<key>code</key>
				<string>none</string>
				<key>levels</key>
				<array>
					<dict>
						<key>level</key>
						<string>lower</string>
						<key>rate</key>
						<integer>0</integer>
						<key>threshold</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>level</key>
						<string>upper</string>
						<key>rate</key>
						<integer>0</integer>
						<key>threshold</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>code</key>
				<string>a</string>
				<key>levels</key>
				<array>
					<dict>
						<key>level</key>
						<string>lower</string>
						<key>rate</key>
						<real>0.12</real>
						<key>threshold</key>
						<integer>8632</integer>
					</dict>
					<dict>
						<key>level</key>
						<string>upper</string>
						<key>rate</key>
						<real>0.02</real>
						<key>threshold</key>
						<integer>5000</integer>
					</dict>
				</array>
			</dict>
		</array>
		<key>studentLoanLevels</key>
		<array>
			<dict>
				<key>name</key>
				<string>none</string>
				<key>rate</key>
				<integer>0</integer>
				<key>threshold</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>plan1</string>
				<key>rate</key>
				<real>0.09</real>
				<key>threshold</key>
				<integer>18935</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>plan2</string>
				<key>rate</key>
				<real>0.09</real>
				<key>threshold</key>
				<integer>25725</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>y2021</string>
		<key>salaryCap</key>
		<integer>100000</integer>
		<key>allowance</key>
		<integer>1250</integer>
		<key>taxLevels</key>
		<array>
			<dict>
				<key>taxBracket</key>
				<string>zero</string>
				<key>rate</key>
				<integer>0</integer>
				<key>threshold</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>taxBracket</key>
				<string>basic</string>
				<key>rate</key>
				<real>0.2</real>
				<key>threshold</key>
				<integer>37500</integer>
			</dict>
			<dict>
				<key>taxBracket</key>
				<string>middle</string>
				<key>rate</key>
				<real>0.4</real>
				<key>threshold</key>
				<integer>150000</integer>
			</dict>
			<dict>
				<key>taxBracket</key>
				<string>upper</string>
				<key>rate</key>
				<real>0.45</real>
				<key>threshold</key>
				<integer>9223372036854775807</integer>
			</dict>
		</array>
		<key>niLevels</key>
		<array>
			<dict>
				<key>code</key>
				<string>none</string>
				<key>levels</key>
				<array>
					<dict>
						<key>level</key>
						<string>lower</string>
						<key>rate</key>
						<integer>0</integer>
						<key>threshold</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>level</key>
						<string>upper</string>
						<key>rate</key>
						<integer>0</integer>
						<key>threshold</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>code</key>
				<string>a</string>
				<key>levels</key>
				<array>
					<dict>
						<key>level</key>
						<string>lower</string>
						<key>rate</key>
						<real>0.12</real>
						<key>threshold</key>
						<integer>9500</integer>
					</dict>
					<dict>
						<key>level</key>
						<string>upper</string>
						<key>rate</key>
						<real>0.02</real>
						<key>threshold</key>
						<integer>50000</integer>
					</dict>
				</array>
			</dict>
		</array>
		<key>studentLoanLevels</key>
		<array>
			<dict>
				<key>name</key>
				<string>none</string>
				<key>rate</key>
				<integer>0</integer>
				<key>threshold</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>plan1</string>
				<key>rate</key>
				<real>0.09</real>
				<key>threshold</key>
				<integer>19390</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>plan2</string>
				<key>rate</key>
				<real>0.09</real>
				<key>threshold</key>
				<integer>26575</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
